html, body{
    height: 1900;
    margin: 0 auto 50px;
}
body{
    background-image: url(image/images.jpg);
}
.content{
    background-size: auto auto;
   

}
p,ul, h2{
    
    color: silver;
    font-size: 25px;
}
h2{
    color: gold;
}
img{
    height: 500px;
    width: 500px;
    padding: 100px;
    
    background-position: center center;
    /*  не получаетса сдвинуть картинку по центру*/
}
h1{
    color: red;
    padding: 50px;
    font-family: 'Russo One', sans-serif;

}